<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div>
      <!-- code for chatBot functionality -->
      <div>
        <input
          id="input"
          type="text"
          placeholder="Write something..."
          autocomplete="off"
          autofocus="true"
        />
        <div id="messages"></div>
      </div>

      <!-- code for chatbot UI -->
    </div>
  </body>
</html>
<script src="./ChatBot.js"></script>
