* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
}

body{
  background: #4b5c66;
}

.container{
  --light-color:#fff;
  height: 420px;
  width: 350px;
  background: var(--light-color);
  position: fixed;
  bottom: 50px;
  right: 10px;
  box-shadow: 0px 0px 15px 0px black;
}

.chat-header{
  height:70px ;
  display: flex;
  align-items: center;
  padding: 0px 30px;
  background-color: #0652c0;
  color:var(--light-color) ;
  font-size: 1.5rem;
}

.chat-header .logo{
  height: 35px;
  width: 35px;
  box-shadow: 0px 0px 10px 0px black;
}

.chat-header img{
  height: 40px;
  width: 40px;
}

.chat-header .title{
  padding-left: 10px;
}

.messages{
  height: 300px;
  display: flex;
}

.chat-input{
  height: 60px;
  display: flex;
  align-items: center;
  border-top: 1px solid #ccc;
}

.input-sec{
  margin-bottom: 8px;
  flex: 8;
}
#txtinput{
  line-height: 30px;
  padding: 8px 10px;
  border: none;
  outline: none;
  caret-color: black;
  font-size: 1rem;
  width: 100%;
}
.send{
  flex: 1;
  padding-right: 4px;
}
.send img{
  width: 40px;
  height:40px;
}
